# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# Build results
[Bb]in/
[Oo]bj/

# Rider / ReSharper
.idea/
*.sln.DotSettings

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini